@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: #2c9475;
}


ol {
  list-style: none;
}